@font-face {
  font-family: horror;
  src: url(./Ghastly\ Panic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
}

.head {
  padding-top: 60px;
  text-align: center;
  background-color: rgb(22, 35, 46);
  color: white;
  height: 250px;
}

#name {
  font-weight: bold;
  font-size: 60px;
}
#paragraph {
  font-style: oblique;
  font-size: 20px;
  margin-top: 20px;
}

.about {
  padding: 10px;
  text-align: center;
  background-color: white;
  width: 85%;
  height: 30%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 50px;
}

#about-me {
  font-weight: bold;
  font-size: 30px;
}

#paragraph-2 {
  font-size: 23px;
  font-weight: 0;
  /* border: 2px solid;
    border-color: black; */
  margin-top: 30px;
}

.education {
  text-align: center;
  background-color: rgb(177, 205, 236);
  padding: 50px;
  width: 85%;
  height: 35%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.education-2{
    background-color: white;
    width: 50%;
    margin: auto;
}

.hehe{
    background-color: #fff;
    /* border: 2px solid black; */
    padding: 15px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

#education-2{
    margin-top: 10px;
}

.skills{
    background-color: wheat;
    text-align: center;
    margin-top: 30px;
    padding: 50px;
}

.skills-1{
    width: 70%;
    background-color: #fff;
    /* border: 2px solid black; */
    padding: 15px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}



