@font-face {
    font-family: horror;
    src: url(./Ghastly\ Panic.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
}

.head{
    padding-top: 60px;
    text-align: center;
    background-color: rgb(22, 35, 46);
    color: white;
    height: 250px;
}

#name{
    font-weight: bold;
    font-size: 60px;
}
#paragraph{
    font-style: oblique;
    font-size: 20px;
    margin-top: 20px;
}

.about{
    text-align: center;
    padding: 80px;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}